[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ldatuning"]
	path = ldatuning
	url = https://github.com/nikita-moor/ldatuning
